body{
    font-family: 'Open Sans', sans-serif;
}

/*Navbar*/

.navbar{
    position: fixed;
    width: 100vw;
    z-index:1;
}

.img-logo{
    width:20px;
}

/*Hero*/
#quienes-somos{
    background-color: black;
}

.bg-info{
    width:24vw;
    align-items: center;
}

article p{
    width: 24vw;
    font-size: 12px;
}

/*Tarjetas*/
#tarjetas{
    background-color: black;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


/*Contacto*/

#contact-form{
    background-color: black;
}

/*Footer*/

footer{
    background-color: #17a2b8;
}
.footainer{
    display:flex;
    justify-content:center;
    padding-top: 20px;
    
}

footer p{
    margin-right: 40vw;
    
}

#icons i{
    margin: 0px 3px;
}